body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
.logo{
    height:5.5rem;
    width:100%;
    border-radius:1rem;
    margin-top:1rem;
    display:flex;
}
.logo img{
    height:90%;
    width:90%;
    opacity:0.8;
    border-radius:1rem;
    object-fit: cover;
    
}
.logo img:hover{
    opacity:1;
    width:100%;
    transition:1s;
}

.logo-info{
    margin-top:1.1rem;
    margin-left:2rem;
    font-weight:600;
    font-size:2rem;
    color:transparent;
    background: linear-gradient(#ff00d2, #fed90f, #00a2ff, #09f1b8, #ff00d2, #fed90f, #09f1b8, #ff00d2, #fed90f, #09f1b8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: abhay 2s ease-in-out infinite;
    -webkit-text-stroke:1px goldenrod;
    letter-spacing:4px;
}
@keyframes abhay {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    ;

    100% {
        background-position: 0% 50%;
    }

    ;
}
.slidebar {
    background-color: #121212;
    width: 340px;
    border-radius: 1rem;
}
.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 1em;
    overflow: auto;
    margin-left: 4px;
    padding: 0 1.5rem 0 1.5rem;
}

.music-player {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}

a {
    text-decoration: none;
    color: white;
}

.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
}

.lib-option {
    opacity: 0.7;
}

.lib-option:hover {
    opacity: 1;
}

.lib-option a {
    padding-left: 4px;

}

.library {
    background-color: #121212;
    height: 100%;
    border-radius: 1rem;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons i:hover {
    opacity: 1;
}

.icons {
    font-size: 1.25rem;
}

.icons i {
    margin-right: 1rem;
    opacity: 0.7;
}

.box {
    height: 8rem;
    border-radius: 0.75rem;
    background-color: #232323;
    margin-top: 1.4rem;
    padding: 0.75rem 1rem;
    opacity: 0.8;
}

.box:hover {
    opacity: 1;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 550;
}

.box-p2 {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    opacity: 0.9;
}

.badge {
    border-radius: 2rem;
    margin-top: 0.75rem;
    font-size: 1rem;
    opacity: 0.8;
    font-weight: 540;
    height: 2rem;
}

.outer-line {
    height: 3rem;

}

.dark-badge {
    background-color: black;
    color: #fff;
}

.dark-badge i {
    padding-right: 0.57rem;
}

.badge:hover {
    opacity: 1;
}

.sticky-nav {
    background-color: #121212;
    position: sticky;
    top: 0;
    display: flex;
    padding: 0.75rem 0 0.75rem 0;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.animation:hover{
background-color:#c6282841;
transition:3s;
}

.sticky-nav-icons {
    opacity: 0.7;
}

.sticky-nav-icons:hover {
    opacity: 1;
}

.sticky-nav-icons img {
    margin-left: 0.75rem;
    opacity: 1;
}

.sticky-nav-options {
    display: flex;
    justify-content: center;
    align-items: center;

}

.sticky-nav-options button {
    margin-right: 1rem;
}

@media(max-width:1000px) {
    .hide {
        display: none;
    }
}

.card {
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1rem;
    margin-top: 0.3rem;
}

.card img {
    border-radius: 0.5rem;
    width: 100%;
    overflow: hidden;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.card-info {
    opacity: 0.7;
    font-weight: 280;
    font-size: 0.76rem;
}

.card-tittle {
    font-weight: 600;
}

.card:hover {
    opacity: 0.7;
}

.card1:hover {
    opacity: 0.7;
}

.card1 {
    background-color: #232323;
    width: 150px;
    height: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1rem;
    margin-top: 0.3rem;
}

.card1 img {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.greet {
    font-weight: 600;
    background: linear-gradient(#ff00d2, #fed90f, #00a2ff, #09f1b8, #ff00d2, #fed90f, #09f1b8, #ff00d2, #fed90f, #09f1b8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: gradient 2s ease-in-out infinite;
    width: 350px;
    font-size: 2rem;
    margin-left:35rem;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    ;

    100% {
        background-position: 0% 50%;
    }

    ;
}

.color {
    width: 25rem;
    height: 3rem;
    background-color: rgba(128, 128, 128, 0.151);
    color: white;
    margin: 6px;
    border-radius: 0.5rem;
}

.body {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.animation {
    border-radius: 0.8rem;
}

.one:hover {
    background-color: blueviolet;
    transition: 2s;
    font-size: 1.2rem;

}

.two:hover {
    background-color: #00a2ff88;
    transition: 2s;
    font-size: 1.2rem;
}

.three:hover {
    background-color: #feda0f4f;
    transition: 2s;
    font-size: 1.2rem;
}

.four:hover {
    background-color: rgba(137, 43, 226, 0.646);
    transition: 2s;
    font-size: 1.2rem;
}

.five:hover {
    background-color: #09f1b757;
    transition: 2s;
    font-size: 1.2rem;
}

.six:hover {
    background-color: grey;
    transition: 2s;
    font-size: 1.2rem;
}

.one img {
    object-fit: cover;
    height: 100%;
    width: 70px;
    border-radius: 0.4rem;
}

.two img {
    object-fit: cover;
    height: 100%;
    width: 70px;
    border-radius: 0.4rem;
}

.three img {
    object-fit: cover;
    height: 100%;
    width: 70px;
    border-radius: 0.4rem;
}

.four img {
    object-fit: cover;
    height: 100%;
    width: 70px;
    border-radius: 0.4rem;
}

.five img {
    object-fit: cover;
    height: 100%;
    width: 70px;
    border-radius: 0.4rem;
}

.six img {
    object-fit: cover;
    height: 100%;
    width: 70px;
    border-radius: 0.4rem;
}

.one i {
    margin-left: 1.6rem;
}

.two i {
    margin-left: 1.6rem;
}

.three i {
    margin-left: 1.6rem;
}

.four i {
    margin-left: 1.6rem;
}

.five i {
    margin-left: 1.6rem;
}

.six i {
    margin-left: 1.6rem;
}

.footer {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    height: 30%;
    width: 92%;
    border-top: 1px solid white;
    opacity: 0.2;
}

.music-player {
    display: flex;
    justify-content: center;
    align-items: center;
}

.album {
    width: 25%;
    height: 100%;
    display: flex;
}

.photo {
    height: 100%;
    width: 5rem;
}

.photo img {
    height: 100%;
    width: 5rem;
    border-radius: 1rem;
    object-fit: cover;
}

.photo-info {
    margin: 1.5rem;
}

.photo-info i {
    opacity: 0.8;
}

.photo-info i img {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    object-fit: cover;
    opacity: 1;

}

.like-logo {
    margin-top: 2.5rem;
    margin-left: 2rem;
    font-size: 1.3rem;
}

.like-logo i {
    opacity: 0.7;
}

.player {
    width: 50%;
}

.player-control {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-control-icons {
    height: 1rem;
    margin: 1rem;
    opacity: 0.6;
}

.pause-icon {
    height: 2rem;

}

.player-control-icons:hover {
    opacity: 1;
}

.progress-bar {
    width: 85%;
}

.controls {
    width: 25%;
    display: flex;
    margin-left: 2rem;
}

.control-icons {
    opacity: 0.7;
    font-size: 1.4rem;
    margin: 0.7rem;
}

.control-icons:hover {
    opacity: 1;
}
